<%= form_for :advertise, url: user_advertises_path(current_user) do |f| %>

<div class="row">
  <div class="input-field col s4">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="input-field col s4">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
</div>

<div class="row">
<div class="input-field col s4">
<%= f.select(:category,options_for_select([['Hotel', 'hotel'], ['Shop', 'shop']])) %>
<%= f.label :category,"Category" %><br>
  </div>
  <div class="input-field col s4">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="input-field col s4">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
</div>

<div class="row">
  <div class="input-field col s4">
    <%= f.label :started_at, "Start date"%>
    <%= f.date_field :started_at,class:"datepicker"%>
  </div>
  <div class="input-field col s4">
    <%= f.label :expiry_date, "Deadline"%>
    <%= f.date_field :expiry_date,class:"datepicker" %>
  </div>

  <div class="input-field col s4">
      <%= f.file_field :avatar ,class:"waves-light"%>
   </div>
</div>
<div class="actions">
  <%= f.submit "Create" ,class:"btn waves-effect waves-light"%>
</div>
<% end %>
