
<body>
<%= @advertises.each do |advertise| %>

<% if @user.role == 'advertiser' && advertise.creator == current_user.id.to_s%>
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <%= image_tag advertise.avatar.url.to_s, :size => "100x100" %>
      </div>
      <span class="card-title" style="color:black"><p><%= advertise.title %></p></span>
      <div class="card-content">
        <p><%= advertise.description %></p>
      </div>
      <div class="card-action"><%= link_to 'Show', user_advertise_path(@user, advertise)%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<% if @user.role == 'viewer' %>
<%= render 'advertises/search', adv: @adv %>
<% end %>

</body>



