<!DOCTYPE html>
<html>
<head>
	<title>Advertise</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
</head>
<body>
  <nav class="#ee6e73 lighten-1" role="navigation">
   <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Advertiser</a>
   </div>
</nav>
<% if user_signed_in? %>
	<ul id="dropdown2" class="dropdown-content">
		<li class="divider"></li>
		<li>
		<%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
		</li>
	</ul>
<% end %>
 	<!--<p class="notice"><= notice %></p>%%
 	<p class="alert"><= alert %></p>-->
 
 	<%= yield %>

 	<%= debug(params) if Rails.env.development? %>

 </body>
 </html>
